.object{
      .title{
    display: inline-block;
    @media (max-width: $screen-md-max){
      display: block;
    }
  }
  .link{
    font-size: 16px;
    color: #005b9c;
    text-decoration: none;
    display: inline-block;
    float: right;
    .fa-angle-right{
      margin-right: 10px;
      color: #c7c7c7;
      font-size: 20px;
    }
    &:hover{
      color: #DD6C35;
    }
    @media (max-width: $screen-md-max){
      float: left;
      margin-top: 10px;
    }
  }
	&__blog{
		padding-top: 90px;
		padding-bottom: 40px;
		&:nth-of-type(odd) {
			background-color: #E8E9E9;
		}
	}
	&__item{
		max-width: 100%;
		width: 100%;
		height: 390px;
		position: relative;
		@media (max-width: $screen-xs-min) {
			height: 200px;
		}
		.owl-stage-outer{
			height: 390px;
			.owl-item{
				height:100%;
				width:100%;
			}
		}
		.owl-nav{
			.owl-prev{
				&:before{
					content: '\f104';
					font-family: 'FontAwesome';
					position: absolute;
					font-size: 50px;
					color: #fff;
					left: 20px;
					top: 40%;
					transform: translateX(-50%);
					z-index: 5;
					@media (max-width: $screen-xs-min) {
						top: 30%;
					}
				}
				&:after{
					content: '';
					position: absolute;
					background-color: #000;
					opacity: .50;
					left: 0;
					top: 0;
					bottom: 0;
					width: 45px;
				}
				&:hover{
					opacity: .6;
				}
			}
			.owl-next{
				&:before{
					content: '\f105';
					font-family: 'FontAwesome';
					position: absolute;
					font-size: 50px;
					color: #fff;
					right: 3px;
					top: 40%;
					transform: translateX(-50%);
					z-index: 5;
					@media (max-width: $screen-xs-min) {
						top: 30%;
					}
				}
				&:after{
					content: '';
					position: absolute;
					background-color: #000;
					opacity: .50;
					right: 0;
					top: 0;
					bottom: 0;
					width: 45px;
				}
				&:hover{
					opacity: .6;
				}
			}
		}
		a{
			display: block;
			position: relative;
			height: 390px;
			@media (max-width: $screen-xs-min) {
				height: 200px;
			}
			span{
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				position: absolute;
				max-width: 100%;
				width: 100%;
				height: 100%;
			}
		}
	}
	&__item2{
		display: block;
		h3{
			font-size: 32px;
			color: #201f35;
			margin: 0;
			@media (max-width: $screen-sm-min) {
				font-size: 25px;
			}
		}
		h4{
			font-size: 28px;
			color: #201f35;
			margin: 0;
			padding-top: 15px;
			@media (max-width: $screen-sm-min) {
				font-size: 20px;
			}
		}
		p{
			font-size: 16px;
			color: #201f35;
			margin: 0;
			padding-top: 35px;
			@media (max-width: $screen-sm-min) {
				font-size: 13px;
				padding-top: 15px;
			}
			span{
				display: block;
				border-bottom: 2px #DD6C35 solid;
				margin-top: 10px;
			}
		}
	}
}
