$icon-font-path: '../fonts/';

$grid-gutter-width: 30px;
$container-large-desktop: (1100px + $grid-gutter-width);

@import "../fonts/icons/css/font.css";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import "_helpers.scss";
@import "_catalog.scss";
@import "_object.scss";
@import "_brend.scss";
@import "_actions.scss";
@import "_application.scss";
@import "_boilers.scss";
