$icon-font-path: '../fonts/';

$grid-gutter-width: 30px;
$container-large-desktop: (1100px + $grid-gutter-width);

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_helpers.scss";